<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col">
      <%= form_with(model: pet, local: true) do |form| %>
        <div class="form-group row">
          <%= form.label :name, 'Name', class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= form.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= form.label :pet_type, 'Type', class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= form.text_field :pet_type, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :date_of_birth, 'Date of birth', class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= form.date_select :date_of_birth, {
                :order => [:day, :month, :year],
                :start_year => 1990
               },
               {:class => "form-control my-2"} %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :breed, 'Breed', class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= form.text_field :breed, class: "form-control" %>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button">Profile Picture</button>
          </div>
          <div class="custom-file field">
            <%= form.file_field :image, class: "custom-file-input" %>
            <%= form.label :image, 'Choose a file', class: "custom-file-label" %>
          </div>
          <!-- script to replace the words "Choose a file" with the name of the file -->
          <script>
            $('#user_profile_image').on('change',function(){
                //get the file name
                var fileName = $(this)[0].files[0].name;
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
          </script>
        </div>
        <p>
          <% if pet.image.attached? %>
            <img src=<%= (url_for(pet.image)) %> alt="" width="100px">
          <% else %>
            <img src=<%= image_url 'defaultAnimal.png' %> alt="" width="100px">
          <% end %>
        </p>
        <div class="form-group row">
          <div class="col-sm-10">
              <%= form.submit class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  flatpickr("#myID", {});
</script>
