<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Pet type:</strong>
  <%= @pet.pet_type %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @pet.date_of_birth %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Image:</strong>
  <% if @pet.image.attached? %>
    <img src=<%= (url_for(@pet.image)) %> alt="">
  <% else %>
    <img src=<%= image_url "defaultAnimal.png"%> alt="">
  <% end %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
