<div class="jumbotron-fluid custom-home">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<%= image_tag 'cat.jpg', class: "image-fluid" %>
				<div class="container">
					<div class="carousel-caption text-right">
						<h1>Find Registered Vets.</h1>
						<p>Partnering petowners to Singapore Veterinary Association registered veterinary centres.<br>Easily find a vet nearby you with our interactive map.</p>
						<p><a class="btn btn-lg btn-info" href="/vet_profiles" role="button">Find A Vet</a></p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="row justify-content-center align-items-end">
				<%= image_tag 'dog.jpg', class: "image-fluid" %>
				</div>
				<div class="container">
					<div class="carousel-caption text-left">
						<h1>Access Your Pet Records Anywhere.</h1>
						<p>Register an account and have your pet's health record digitally available no matter where you are.<br>Authorize access for a vet to view your pet's past medical history.<br>No more worries about missing any details on your vet visits.</p>
						<p><%= link_to 'Register An Account', new_user_registration_url, class: "btn btn-lg btn-info" %></p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<%= image_tag 'vet_clinics.jpg', class: "image-fluid" %>
				<div class="container">
					<div class="carousel-caption text-left">
						<h1>View Client Records.</h1>
						<p>Vet dashboard to easily view your client records.<br>Update your clinic's details and reach more petowners nearby you.</p>
						<p><%= link_to 'Register Your Vet Clinic', new_vet_registration_url, class: "btn btn-lg btn-info" %></p>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>