<div class="container" style="margin-top: 5rem">

  <% if notice %>
  <div class="row">
    <div class="col">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <p id="notice" class="p-0 m-0"><%= notice %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-6 col-md-6">
          <% if @user_profile.image.attached? %>
            <img src=<%= (url_for(@user_profile.image)) %> alt=<%= @user_profile.username %> width="150px">
          <% else %>
            <img src=<%= image_url "defaultProfile.svg"%> alt=<%= @user_profile.username %> width="150px">
          <% end %>
        </div>
        <div class="col-6 col-md-6">
          <h3><%= @user_profile.username %></h3>
          <%= link_to raw('<i class="fas fa-edit mr-2"></i>Edit Profile'), edit_user_profile_path(@user_profile), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fas fa-user mr-2"></i><%= @user_profile.first_name %> <%= @user_profile.last_name %></li>
        <li class="list-group-item"><i class="fas fa-map-marker-alt mr-2"></i><%= "#{@user_profile.address} #{@user_profile.unit}, #{@user_profile.country} #{@user_profile.postalcode}" %></li>
        <li class="list-group-item"><i class="fas fa-phone mr-2"></i><%= @user_profile.phone %></li>
        <li class="list-group-item"><i class="fas fa-envelope mr-2"></i><%= @user_profile.user.email %></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs" id="pet-vet-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#pet" role="tab" aria-controls="pet" aria-selected="true">Pet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#vet" role="tab" aria-controls="vet" aria-selected="false">Vet</a>
        </li>
      </ul>
      <!-- tab for pet: -->
      <div class="tab-content" id="petVetTabContent">
        <div class="tab-pane fade show active" id="pet" role="tabpanel" aria-labelledby="pet-tab">
          <div class="container mt-3">
            <%= link_to raw('<i class="fas fa-plus-circle mr-2"></i>new pet'), new_pet_path, class: "btn btn-primary my-2" %>
            <div class="row">
              <% @pets.each do |p| %>
                <div class="col-12 col-md-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <% if p.image.attached? %>
                          <img src=<%= (url_for(p.image)) %> class="card-img" alt="" width="140px">
                        <% else %>
                          <img src=<%= image_url "defaultAnimal.svg"%> class="card-img" alt="" width="140px">
                        <% end %>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">
                            <%= link_to p.name, pet_path(p), class: "text-primary" %>
                          </h5>
                          <p class="card-text">
                            <p><i class="fas fa-birthday-cake mr-2"></i><%= p.date_of_birth %></p>
                            <p><i class="fas fa-sitemap mr-2"></i><%= p.breed %></p>
                            <%= link_to raw("<i class='fas fa-eye mr-3'></i>"), pet_path(p), class: "text-secondary" %>
                            <%= link_to raw("<i class='fas fa-edit mr-3'></i>"), edit_pet_path(p), class: "text-secondary" %>
                            <%= link_to raw("<i class='fas fa-trash-alt mr-3'></i>"), pet_path(p), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-secondary" %>
                          </p>
                          <p class="card-text"><small class="text-muted">Last updated: <%= p.updated_at.strftime("%c")  %></small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- tab for vet: -->
        <div class="tab-pane fade" id="vet" role="tabpanel" aria-labelledby="vet-tab">
          <div class="container mt-3">
            <div class="row my-2">
              <div class="col">
                <%= form_tag(vet_profiles_path, method: "get", remote: true, class: "form-inline") do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>
                  <%= submit_tag "Search", class:"btn btn-outline-primary my-2 my-sm-0" %>
                <% end %>
                <div id="search-results"></div>
              </div>
            </div>

            <div class="row">
              <% @vet_profiles.each do |vp| %>
                <div class="col-12 col-md-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <% if vp.image.attached? %>
                          <img src=<%= (url_for(vp.image)) %> class="card-img" alt="" width="140px">
                        <% else %>
                          <img src=<%= image_url "defaultVet.svg"%> class="card-img" alt="" width="140px">
                        <% end %>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">
                          <%= link_to vp.clinic_name, vet_profile_path(vp), class: "text-primary" %>
                          </h5>
                          <p class="card-text">
                            <p><i class="fas fa-map-marker-alt mr-2"></i><%= vp.address %></p>
                            <p><i class="fas fa-phone mr-2"></i><%= vp.phone %></p>
                            <p><i class="far fa-clock mr-2"></i><%= vp.hours %></p>
                            <p><i class="fas fa-briefcase-medical mr-2"></i><%= vp.services %></p>
                            <%= form_with(scope: :remove_vet_from_user, url: remove_vet_from_user_path(vp.vet_id), local: true) do |f| %>
                              <%= f.hidden_field :vet_id, value: vp.vet_id %>
                              <%= button_tag(type: 'submit', class: "btn btn-danger shadow-lg", data: { confirm: 'Are you sure you want to remove this vet?' }) do %>
                                <i class="fas fa-minus-circle mr-2"></i>Remove vet
                              <% end %>
                            <% end %>
                          </p>
                          <p class="card-text"><small class="text-muted">Last updated:<%= vp.updated_at.strftime("%c") %></small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
