<p id="notice"><%= notice %></p>
<h1>User Dasbboard</h1>
<p>
  <strong>First name:</strong>
  <%= @user_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_profile.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_profile.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user_profile.phone %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user_profile.username %>
</p>

<p>
  <strong>Image:</strong><br>
  <% if @user_profile.image.attached? %>
    <img src=<%= (url_for(@user_profile.image)) %> alt="">
  <% else %>
    <img src=<%= image_url "defaultProfile.jpeg"%> alt="">
  <% end %>
</p>

<p>
  <strong>User:</strong><br>
  User ID:<%= @user_profile.user.id %><br>
  Email:<%= @user_profile.user.email %><br>
</p>
<%= link_to 'Edit User Profile', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>

<hr>
<p><strong>My Pets:</strong></p>
<% @pets.each do |p| %>
<p>Pet ID:<%= p.id %></p>
<p><%= p.name %></p><br/>
<img src=<%= p.image %> alt="" width="100px"><br/>
<%= link_to "Show pet", controller: "pets", action: "show", id: p %>
<%= link_to "Edit pet", controller: "pets", action: "edit", id: p %>
<hr>
<% end %>
<p><strong>My Vets:</strong></p>
<% @vet_profiles.each do |vp| %>
<p>Vet Profile ID:<%= vp.id %></p>
<img src=<%= vp.image %> alt="" width="100px"><br/>
<p>Clinic: <%= vp.clinic_name %></p>
<p>Address: <%= vp.address %></p>
<p>Postal Code:<%= vp.postalcode %></p>
<p>Phone: <%= vp.phone %></p>
<p>Hours: <%= vp.hours %></p>
<p>Services: <%= vp.services %></p>
<%= link_to "Show vet profile", controller: "vet_profiles", action: "show", id: vp %>
<hr>
<% end %>
