<p id="notice"><%= notice %></p>
<h1>User Dasbboard</h1>
<p>
  <strong>First name:</strong>
  <%= @user_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_profile.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_profile.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user_profile.phone %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user_profile.username %>
</p>

<p>
  <strong>Image:</strong><br>
  <img src=<%= @user_profile.image %> width="100px"/>
</p>

<p>
  <strong>User:</strong><br>
  User ID:<%= @user_profile.user.id %><br>
  Email:<%= @user_profile.user.email %><br>
</p>
<%= link_to 'Edit User Profile', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>

<hr>
<p><strong>My Pets:</strong></p>
<% @pets.each do |p| %>
<p>Pet ID:<%= p.id %></p>
<p><%= p.name %></p><br/>
<img src=<%= p.image %> alt="" width="100px"><br/>
<%= link_to "Show pet", controller: "pets", action: "show", id: p %>
<%= link_to "Edit pet", controller: "pets", action: "edit", id: p %>
<% end %>
<hr>
