<%= form_with(model: pet_record, local: true) do |form| %>
  <% if pet_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet_record.errors.count, "error") %> prohibited this pet_record from being saved:</h2>

      <ul>
      <% pet_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :pet_id %>
    <%= form.text_field :pet_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
