<p id="notice"><%= notice %></p>

<h1>Pet Records</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Content</th>
      <th>Pet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pet_records.each do |pet_record| %>
      <tr>
        <td><%= pet_record.title %></td>
        <td><%= pet_record.date %></td>
        <td><%= pet_record.content %></td>
        <td><%= pet_record.pet %></td>
        <td><%= link_to 'Show', pet_record %></td>
        <td><%= link_to 'Edit', edit_pet_record_path(pet_record) %></td>
        <td><%= link_to 'Destroy', pet_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet Record', new_pet_record_path %>
