<div class="container" style="margin-top: 2rem; margin-bottom: 2rem">
	<!-- show the notice after saving -->
	<% if notice %>
	<div class="row">
		<div class="col">
			<div class="alert alert-info alert-dismissible fade show" role="alert">
				<p id="notice" class="p-0 m-0"><%= notice %></p>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
	<% end %>

	<div class="row">
		<div class="col d-flex justify-content-center">
			<div class="card">
				<div class="card-header">
					<strong><%= @pet_record.title.capitalize  %></strong>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>Name:</strong><br>
						<%= @pet_record.pet.name %>
					</li>
					<li class="list-group-item">
						<strong>Date:</strong><br>
						<%= @pet_record.date %>
					</li>
					<li class="list-group-item">
						<strong>Details:</strong><br>
						<%= @pet_record.content %>
					</li>
				</ul>
				<% if user_signed_in? %>
					<div class="col-12 text-center">
						<%= link_to raw("<i class='fas fa-edit mr-2'></i> Edit"), edit_pet_record_path(@pet_record), class: "btn btn-primary mr-2" %>
						<%= link_to raw("<i class='fas fa-trash-alt mr-2'></i> Remove"), pet_record_path(@pet_record), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mr-2" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<% if user_signed_in? %>
	<div class="row">
		<div class="col text-center my-2">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item"><a href=<%= user_profile_path(@pet_record.pet.user) %>>My Profile</a></li>
					<li class="breadcrumb-item"><a href=<%= pet_path(@pet_record.pet) %>>My Pet's Profile</a></li>
					<li class="breadcrumb-item active" aria-current="page">My Pet's Record</li>
				</ol>
			</nav>
		</div>
	</div>
	<% end %>
</div>