<!DOCTYPE html>
<html>
	<head>
		<title>Vetner</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
	</head>
	<body>
		<header>
			<%= render "/layouts/navbar" %>
		</header>
		<main role="main">
			<%= yield %>
		</main>
		<footer>
			<div class="container">
				<span class="text-muted">Vetner &copy; 2019</span>
				<p class="float-right"><a href="#">Back to top</a></p>
			</div>
		</footer>
	</body>
</html>