<div class="container">
<% if notice %>
<div class="row">
  <div class="col">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <p id="notice" class="p-0 m-0"><%= notice %></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
<% end %>

<h1>SVA Registered Veterinary Centres</h1>

<div class="row">
  <% @vet_profiles.each do |vet_profile| %>
	<div class="col-sm-4">
    <div class="card">
    <% if vet_profile.image.attached? %>
      <img src=<%= (url_for(vet_profile.image)) %> class="card-img-top" alt=<%= vet_profile.clinic_name %>>
    <% else %>
      <img src=<%= image_url "defaultProfile.jpeg"%> class="card-img-top" alt=<%= vet_profile.clinic_name %>>
    <% end %>
			<div class="card-body">
        <h5 class="card-title"><%= link_to vet_profile.clinic_name, vet_profile_path(id: vet_profile.vet_id) %></h5>
        <p class="card-text"><%= vet_profile.address %><br>
        	Singapore <%= vet_profile.postalcode %><br>
        	Phone: <%= vet_profile.phone %><br>
        	Hours: <%= vet_profile.hours %><br>
        	Services: <%= vet_profile.services %><br>
        <%= form_with(scope: :add_vet_to_user, url: add_vet_to_user_path(vet_profile.vet_id), local: true) do |form| %>
          <div class="field">
            <%= form.hidden_field :vet_id, value: vet_profile.vet_id %>
          </div>
          <div class="actions">
            <%= form.submit 'Add as vet' %>
          </div>
        <% end %>
  			</p>
  		</div>
  	</div>
  </div>
  <% end %>
</div>