<div class="container custom-scroll" style="margin-top: 5rem">
  <% if notice %>
    <div class="row">
      <div class="col">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <p id="notice" class="p-0 m-0"><%= notice %></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <% end %>

    <div>
      <% if user_signed_in? %>
        <iframe src=<%= @address %> height="450" width="100%" scrolling="no" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      <% else %>
        <iframe src=<%= @address %> height="450" width="100%" scrolling="no" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      <% end %>
    </div>

    <h2>SVA Registered Veterinary Centres</h2>

    <div class="row">
      <!-- loop through vet profiles and render each one of them as a card -->
      <% @vet_profiles.each do |vet_profile| %>
      <div class="col-sm-4">
        <div class="card">
        <!-- show the uploaded profile image if there is one -->
        <% if vet_profile.image.attached? %>
        <a href="/vet_profile/<%= vet_profile.vet_id %>" >
          <img src=<%= (url_for(vet_profile.image)) %> class="card-img-top" alt=<%= vet_profile.clinic_name %>>
        </a>
        <% else %>
        <!-- show the default profile image if user has not yet uploaded a profile image -->
        <a href="/vet_profile/<%= vet_profile.vet_id %>" >
          <img src=<%= image_url "defaultVet.svg"%> class="card-img-top" alt=<%= vet_profile.clinic_name %>>
        </a>
        <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= link_to vet_profile.clinic_name, vet_profile_path(id: vet_profile.vet_id) %></h5>
            <p class="card-text"><%= "#{vet_profile.address} #{vet_profile.unit}" %><br>
              Phone: <%= vet_profile.phone %><br>
              Hours: <%= vet_profile.hours %>
              <% if user_signed_in? %>
              <!-- ******************************************************************************* -->
              <!-- start of conditional logic check for showing the "add vet" button -->
              <!-- if the current user has already added a vet before -->
              <% if current_user.vets %>
                <!-- check if a particular vet profile is found in the current user's list of vets -->
                <!-- retrieve an array of vet ids of the current user's vets -->
                <% current_user_vet_profiles = current_user.vets.map(&:vet_profile) %>
                <% current_user_vet_ids = current_user_vet_profiles.map do |vp| vp.map(&:id) end.flatten(1) %>
                <!-- if a particular vet profile's vet id is found in the array of vet ids -->
                <% if current_user_vet_ids.include? vet_profile.id %>
                  <!-- show the "added" badge -->
                  <span class="badge badge-pill badge-info p-2"><i class="fas fa-check-circle mr-2"></i>Added to My Vets</span>
                <% else %>
                  <!-- show the "add vet" button  -->
                  <%= form_with(scope: :add_vet_to_user, url: add_vet_to_user_path(vet_profile.vet_id), local: true) do |f| %>
                    <%= f.hidden_field :vet_id, value: vet_profile.vet_id %>
                    <%= button_tag(type: 'submit', class: "btn btn-success shadow-lg") do %>
                      <i class="fas fa-plus-circle mr-2"></i>Add vet
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <!-- if the user's list of vets is empty -->
                <!-- show the "add vet" button -->
                <%= form_with(scope: :add_vet_to_user, url: add_vet_to_user_path(vet_profile.vet_id), local: true) do |f| %>
                  <%= f.hidden_field :vet_id, value: vet_profile.vet_id %>
                  <%= button_tag(type: 'submit', class: "btn btn-success shadow-lg") do %>
                    <i class="fas fa-plus-circle mr-2"></i>Add vet
                  <% end %>
                <% end %>
              <% end %>
              <!-- end of conditional logic check for showing the "add vet" button -->
              <!-- ******************************************************************************* -->



            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
