<p id="notice"><%= notice %></p>

<div>
  <p>
    <strong>Image:</strong>
    <% if @vet_profile.image.attached? %>
      <img src=<%= (url_for(@vet_profile.image)) %> alt="">
    <% else %>
      <img src=<%= image_url "defaultProfile.jpeg"%> alt="">
    <% end %>
  </p>
  <p>
    <strong>Clinic name:</strong>
    <%= @vet_profile.clinic_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @vet_profile.address %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @vet_profile.country %>
  </p>

  <p>
    <strong>Postalcode:</strong>
    <%= @vet_profile.postalcode %>
  </p>

  <% if user_signed_in? %>
    <iframe src=<%="https://www.onemap.sg/amm/amm.html?mapStyle=Default&zoomLevel=15&marker=latLng:#{@userLat},#{@userLong}!colour:red&marker=latLng:#{@vetLat},#{@vetLong}!colour:lightblue&popupWidth=200" %> height="450" width="450" scrolling="no" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  <% else %>
    <iframe src=<%="https://www.onemap.sg/amm/amm.html?mapStyle=Default&zoomLevel=15&marker=latLng:#{@vetLat},#{@vetLong}!colour:lightblue&popupWidth=200" %> height="450" width="450" scrolling="no" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  <% end %>

  <p>
    <strong>Contacts:</strong>
    <%= @vet_profile.phone %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= @vet_profile.website %>
  </p>

  <%= link_to 'Edit', edit_vet_profile_path(@vet_profile) %> |
  <%= link_to 'Back', vet_profiles_path %>
</div>

<div>
  <p>
    <strong>Hours:</strong>
    <%= @vet_profile.hours %>
  </p>

  <p>
    <strong>Services:</strong>
    <%= @vet_profile.services %>
  </p>
</div>

<hr>
<%= form_with(scope: :add_vet_to_user, url: add_vet_to_user_path, local: true) do |form| %>
  <div class="field">
    <%= form.hidden_field :vet_id, value:@vet_profile.vet_id %>
  </div>

  <div class="actions">
    <%= form.submit 'Add as vet' %>
  </div>
<% end %>
