<p id="notice"><%= notice %></p>

<div>
  <p>
    <strong>Image:</strong>
    <img src=<%= @vet_profile.image %> alt="">
  </p>
  <p>
    <strong>Clinic name:</strong>
    <%= @vet_profile.clinic_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @vet_profile.address %>
  </p>

  <p>
    <strong>Postalcode:</strong>
    <%= @vet_profile.postalcode %>
  </p>

  <p>
    <strong>Contacts:</strong>
    <%= @vet_profile.phone %>
  </p>

  <%= link_to 'Edit', edit_vet_profile_path(@vet_profile) %> |
  <%= link_to 'Back', vet_profiles_path %>
</div>

<div>
  <p>
    <strong>Hours:</strong>
    <%= @vet_profile.hours %>
  </p>

  <p>
    <strong>Services:</strong>
    <%= @vet_profile.services %>
  </p>
</div>

<hr>
<%= form_with(scope: :add_vet_to_user, url: add_vet_to_user_path, local: true) do |form| %>
<%# <%= form_with(model: users_vets, local: true) do |form| %>
  <% if false %>
  <% if users_vets.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_vets.errors.count, "error") %> prohibited this users_vets from being saved:</h2>
      <ul>
      <% users_vets.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  <% end %> 

  <div class="field">
    <%# <%= form.label :vet_id, 'Vet ID'%> 
    <%= form.hidden_field :vet_id, value:@vet_profile.vet_id %> 
  </div>

  <div class="actions">
    <%= form.submit 'Add as vet' %>
  </div>
<% end %>
